/* Stile personalizzato */
header div.top-bar{
    background-color: #45c14e;
    height: 2rem;
    display: flex;
    align-items: center; /* Centra verticalmente il contenuto */
}

header div.top-bar p {
    margin: 0 auto;
}

header div.menu .logo a{
    color: #000000;
} 

header div.menu a{
    color: #a7a7a7;
} 

header div.menu a:hover{
    text-decoration: none;
}

header div.menu.menu-desktop{
    background-color: #f5f5f5;
    border-radius: 10px;
}